<ion-view view-title="Stats" hide-nav-bar="true">
  <ion-content>
    <div class="list">
      <div class="welcome-message">
        <div class="logo">inflexion</div>
        <div class="message">Prepare to have your workout world rocked</div>
      </div>
      <div class="auth-buttons">
        <a class="item button button-full button-light" href="#/page/overview">login</a>
        <a class="item button button-full button-light" href="#/page/overview">sign up</a>
      </div>
    </div>
  </ion-content>
</ion-view>

