.pane, .view {
    background-color: #333;
    color: #fff;
    background-image: url("../img/bg.jpg");
    background-attachment: fixed;
}

.card, .list-inset {
  overflow: hidden;
  margin: 20px 10px;
  border-radius: 2px;
  background-color: rgba(0,0,0,0.1);
}

.tabs {
    border: 0;
    @include box-shadow(0 0 30px rgba(0,0,0,0.5))
}
