<div class="session-display session-summary">
    <div class="session-content row">
        <div class="session-date col">
            <date-display ng-if="session.startTime" date="session.startTime">
                <h1>transcluding</h1>
            </date-display>
            <a href="/#/sessions/{{session.id}}" class="stats-button button button-outline button-light">
                <i class="icon ion-ios-pulse"></i>
            </a>
        </div>
        <div class="session-details col-75">
            <div class="time-label start-time">
            <i class="ion-flag"></i>{{session.startTime | timeOnly}} START</div>
            <div class="session-activities">
                <div class="activity" ng-repeat="activity in session.activities | limitTo: 5">
                    <span class="name">
                        {{activity.name}}
                    </span>
                </div>
            </div>
            <div class="time-label end-time">
                <i class="icon ion-flag"></i>
                {{session.endTime | timeOnly}} END
            </div>
        </div>
    </div>
</div>