<h1>current session</h1>
<div class="session-detail row card">
    <div class="session-date col-20">
        <date-display date="session.startTime"></date-display>
    </div>
    <div class="session-details col-70">
        <div class="start-time">start: {{session.startTime | timeOnly}}</div>
        <div class="session-activities list">
            <div class="item" ng-repeat="activity in session.activities">
                {{activity.name}}
                <span class="muted">
                {{activity.quantity.value}} {{activity.quantity.units}}</span>
            </div>
        </div>
        <div class="end-time">end: {{session.endTime | timeOnly}}</div>
    </div>
</div>