<div class="session-detail">
    <div class="session-details col-70">
        <div class="session-activities detailed-activity-list">
            <div class="activity" ng-repeat="activity in session.activities">
                <span class="name">
                    {{activity.name}}
                </span>
                <span class="quantity">
                    {{activity.quantity.value}} {{activity.quantity.units}}
                </span>
            </div>
        </div>
    </div>
</div>