.date-display {
    text-align: center;
    max-width: 50px;
    margin: 0;
    >span {
        display: inline-block;
    }

    .date {
        font-size: 2.5em;
    }

    .month {
        color: rgba(255, 255, 255, 0.8);
        font-weight: lighter;
        border-top: 3px solid #82DF4C;

        padding: 15px 20px;
        font-size: 1.5em;
        margin-left: -10px;
    }

    .day {
        opacity: 0.5;
        margin-top: 5px;
    }
}

date-display {
    display: block;
}