.session-display {
    border-top: 1px solid rgba( 255, 255, 255 ,0.1);
    .session-content {
        margin: 20px;
    }
    .session-activities {
        padding-left: 25px;
        .activity {
            padding: 3px 0;

            .quantity {
                color: #555;
                background-color: rgba(0, 0, 0, 0.1);
                padding: 5px 10px;
                border-radius: 5px;
                float: right;
                margin-right: 30px;
            }
        }
    }

    .time-label {
        &.start-time {
            i {
                color: #82DF4C;
            }
        }

        &.end-time {
            i {
                color: #DF5350;
            }
        }

        color: #555;
        i {
            margin-right: 10px;
        }
    }

    .session-date {
        .date-display{
            margin-bottom: 15px;
        }
        a.stats-button {
            i.icon {
            }
        }
    }
}

.detailed-activity-list {
        .activity {
            padding: 20px 10px;
            font-size: 1.2em;
            font-weight: normal;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            .quantity {
                float:right;
                padding: 5px 10px;
                background-color: rgba(0, 0, 0, 0.1);
                border-radius: 3px;
                color: #888;
                margin-left: 20px;
            }
        }
    }