.session-detail {
    padding: 30px;
    .session-date {
        border-bottom: 1px solid #555;
        text-align: center;
        padding-bottom: 30px;

        .date-display {
            margin: auto;
        }
    }

    .session-stats {
        background-color: rgba(0, 0, 0, 0.1);
        padding: 20px;
        .icon {
            font-size: 5em;
        }
        .stats-content {
            padding-left: 20px;
            .stats-improvement{
                background-color: #6DA63B;
                padding: 10px;
                border-radius: 3px;
                margin: 10px 0;
            }
        }
    }
}